.u-pt-0 {
	padding-top: 0 !important;
}
.u-pt-8 {
	padding-top: 8px !important;
}
.u-pt-16 {
	padding-top: 16px !important;
}
.u-pt-24 {
	padding-top: 24px !important;
}
.u-pt-32 {
	padding-top: 32px !important;
}
.u-pt-40 {
	padding-top: 40px !important;
}
.u-pt-48 {
	padding-top: 48px !important;
}
.u-pt-56 {
	padding-top: 56px !important;
}
.u-pt-64 {
	padding-top: 64px !important;
}
/* Right padding */
.u-pr-0 {
	padding-right: 0 !important;
}
.u-pr-8 {
	padding-right: 8px !important;
}
.u-pr-16 {
	padding-right: 16px !important;
}
.u-pr-24 {
	padding-right: 24px !important;
}
.u-pr-32 {
	padding-right: 32px !important;
}
.u-pr-40 {
	padding-right: 40px !important;
}
.u-pr-48 {
	padding-right: 48px !important;
}
.u-pr-56 {
	padding-right: 56px !important;
}
.u-pr-64 {
	padding-right: 64px !important;
}
/* Bottom padding */
.u-pb-0 {
	padding-bottom: 0 !important;
}
.u-pb-8 {
	padding-bottom: 8px !important;
}
.u-pb-16 {
	padding-bottom: 16px !important;
}
.u-pb-24 {
	padding-bottom: 24px !important;
}
.u-pb-32 {
	padding-bottom: 32px !important;
}
.u-pb-40 {
	padding-bottom: 40px !important;
}
.u-pb-48 {
	padding-bottom: 48px !important;
}
.u-pb-56 {
	padding-bottom: 56px !important;
}
.u-pb-64 {
	padding-bottom: 64px !important;
}
/* Left padding */
.u-pl-0 {
	padding-left: 0 !important;
}
.u-pl-8 {
	padding-left: 8px !important;
}
.u-pl-16 {
	padding-left: 16px !important;
}
.u-pl-24 {
	padding-left: 24px !important;
}
.u-pl-32 {
	padding-left: 32px !important;
}
.u-pl-40 {
	padding-left: 40px !important;
}
.u-pl-48 {
	padding-left: 48px !important;
}
.u-pl-56 {
	padding-left: 56px !important;
}
.u-pl-64 {
	padding-left: 64px !important;
}