.u-ta-l{
	text-align: left !important;
}
.u-ta-c{
	text-align: center !important;
}
.u-ta-r{
	text-align: right !important;
}

.u-fw-n{
	font-weight: normal !important;
}
.u-fw-b{
	font-weight: bold !important;
}
.u-td-u{
	text-decoration: underline !important;
}